
.headerWrap{
  /*@media only screen and (max-width: 450px) {
    background-color: rgba(0,0,0,0.5);
    min-height: 150px;
  }*/
}

.mobileWrapper{
  display: none;
  @media only screen and (max-width: 450px) {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    min-height: 65px;
    width: 100%;
    display: block;
  }
}
.menuBtn{
  position: fixed;
  top: 12px;
  right: 15px;
  z-index: 999;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background: red;
  @media only screen and (max-width: 450px) {
    height: 40px;
    width: 40px;
  }
  #menu-icon {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 25px;
    top: 27px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999;
    @media only screen and (max-width: 450px) {
      width: 30px;
      height: 30px;
      position: fixed;
      right: 20px;
      top: 24px;
    }
  }

  #menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 1.5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .75s ease-in-out;
    -moz-transition: .75s ease-in-out;
    -o-transition: .75s ease-in-out;
    transition: .75s ease-in-out;
  }
  #menu-icon span:nth-child(4) {
    top: 14px;
  }
  menu-icon span:nth-child(2), #menu-icon span:nth-child(3) {
    top: 7px;
  }
  #menu-icon span:nth-child(2), #menu-icon span:nth-child(3) {
    top: 7px;
  }
  #menu-icon.open span:nth-child(1) {
    top: 7px;
    width: 0%;
    left: 50%;
  }
  #menu-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #menu-icon.open span:nth-child(4) {
    top: 7px;
    width: 0%;
    left: 50%;
  }
}

.brandContainer.rotate{
  top: 44px;
  left: 30px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.brandContainer{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  a.brand{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: #DAEBF2;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid $light-color;
    padding: 2px 18px;
    position: relative;
    @media only screen and (max-width: 450px){
      font-size: 20px;
    }
    &:before,&:after{
      content: '';
      position: absolute;
      top: 18px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $light-color;
      @media only screen and (max-width: 450px){
        top: 12px;
        width: 7px;
        height: 7px;
      }
    }
    &:before{
      left: 6px;
    }
    &:after{
      right: 6px;
    }
  }
}

.navigation{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,0.9);
  flex-direction: column;
  align-items: center;
  z-index: 99;
  height: 100vh;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    li{

      a {
        color: #ffffff;
        font-weight: 800;
        font-size: 35px;
        text-transform: uppercase;
        padding: 10px 10px;
        text-align: center;
        cursor: pointer;
        display: block;
        letter-spacing: 0.5em;
        transition: all 1s;
        @media only screen and (max-width: 450px){
          font-size: 24px;
        }
        &.about {
          letter-spacing: 0.7em !important;
        }
        &.work {
          letter-spacing: 1.1em !important;
          padding-left: 33px !important;
        }
        &.contact {
          letter-spacing: 0.36em !important;
        }
        &:hover{
          //letter-spacing: 0.01em;
          transition: all 1s;
          text-decoration: none;
        }
      }
    }
  }
}